[run]
branch = True
source =
    .

omit =
    */migrations/*
    kasutajaliidestepraxkax/wsgi.py
    gunicorn-settings.py
    manage.py
    fabfile.py
    settings/*
    *test*

[html]
directory = cover
