<div class="mdl-grid demo-content">
    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

        <ul class="demo-list-item mdl-list">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  Bryan Cranston
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  Aaron Paul
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  Bob Odenkirk
                </span>
            </li>
        </ul>
    </div>
</div>