{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Kasutajaliidesed</span>
                <div class="mdl-layout-spacer"></div>

                <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="hdrbtn">
                    {{ request.user.name }}<i class="material-icons">keyboard_arrow_down</i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                    <li class="mdl-menu__item">Settings</li>
                    <a href="/logout">
                        <li class="mdl-menu__item">Log out</li>
                    </a>
                </ul>
            </div>
        </header>
        <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-800 mdl-color-text--blue-grey-50">

            <header class="demo-drawer-header">
                <img src="{% static 'img/user.jpg' %}" class="demo-avatar">
            </header>

            <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
                <a class="mdl-navigation__link grades-link" href="#grades"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">star</i>Hinded</a>
                <a class="mdl-navigation__link exercises-link" href="#exercises"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">folder</i>Ülesanded</a>
                <a class="mdl-navigation__link students-link" href="#students"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Õpilased</a>
            </nav>
        </div>


        <main class="mdl-layout__content mdl-color--grey-100">
            <!-- GRADE SECTION -->
            <div id="grades">
                <div class="mdl-grid demo-content">
                    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

                        <div class="custom-modal" id="grade-modal--add">
                            <div class="custom-chip hidden">
                                <i class="material-icons remove-chip">close</i>
                            </div>
                            <!-- Modal content -->
                            <div class="modal-content">
                                <form id="add-grade-form" action="/add-grade/" method="post">
                                    {% csrf_token %}

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label find-student-container">
                                        <input class="mdl-textfield__input awesomplete" type="text" id="find-student"
                                               list="studentList">

                                        <datalist id="studentList">
                                            {% for student in students %}
                                                <option>{{ student.first_name }} {{ student.last_name }} {{ student.matricule }}</option>
                                            {% endfor %}
                                        </datalist>

                                        <label class="mdl-textfield__label" for="edit-firstname">Otsi tudengit</label>
                                        <span class="mdl-textfield__error">Sellist tudengit ei leitud</span>
                                    </div>

                                    <div class="mdl-list__item-primary-content ex-name"></div>

                                    <div class="subgrade"></div>

                                    {#                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">#}
                                    {#                                        <input class="mdl-textfield__input" type="number" id="grade" name="grade"#}
                                    {#                                               min="0">#}
                                    {#                                        <label class="mdl-textfield__label" for="grade">Hinne</label>#}
                                    {#                                        <span class="mdl-textfield__error">Hinne peab olema nullist suurem number.</span>#}
                                    {#                                    </div>#}

                                    <br/>
                                    <br/>
                                    <div class="mdl-dialog__actions">
                                        <button type="submit" class="mdl-button modal-submit-button">Lisa</button>
                                        <button type="button" class="mdl-button btn-cancel custom-modal-close">
                                            Katkesta
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="mdl-tabs mdl-js-tabs grade-tabs">
                            <div class="mdl-tabs__tab-bar">
                                {% for hw in homeworks %}
                                    {% if forloop.counter == 1 %}
                                        <a href="#tab{{ forloop.counter }}-panel"
                                           class="mdl-tabs__tab is-active">{{ hw.name }}</a>
                                    {% else %}
                                        <a href="#tab{{ forloop.counter }}-panel"
                                           class="mdl-tabs__tab">{{ hw.name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            {% for hw in homeworks %}
                                <div class="mdl-tabs__panel {% if forloop.counter == 1 %}is-active{% endif %}"
                                     id="tab{{ forloop.counter }}-panel">
                                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp fullwidth">
                                        <thead class="grades-table-head">
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric">Eesnimi</th>
                                            <th class="mdl-data-table__cell--non-numeric">Perenimi</th>
                                            <th class="mdl-data-table__cell--non-numeric">Matrikkel</th>
                                            {% for subgrade in hw.subgrades.all %}
                                                <th class="mdl-data-table__cell--non-numeric">{{ subgrade.name }}</th>
                                            {% endfor %}
                                            <th class="mdl-data-table__cell--non-numeric">Hinne</th>
                                        </tr>
                                        </thead>
                                        <tbody class="grades-table-body">
                                        {% for student in hw.get_students %}
                                            <tr class="grade-row">
                                                <td class="mdl-data-table__cell--non-numeric fname-column">{{ student.first_name }}</td>
                                                <td class="mdl-data-table__cell--non-numeric lname-column">{{ student.last_name }}</td>
                                                <td class="mdl-data-table__cell--non-numeric matricule-column">{{ student.matricule }}</td>
                                                {% for subgrade in hw.subgrades.all %}
                                                    {% if subgrade in student.get_subgrades %}
                                                        {% for grade in student.grades.all %}
                                                            {% if grade.category == subgrade %}
                                                                <td class="calc mdl-data-table__cell--non-numeric {{ grade.category.name }}_grade">{{ grade.value }}</td>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        <td class="mdl-data-table__cell--non-numeric"></td>
                                                    {% endif %}
                                                {% endfor %}
                                                <td class="total mdl-data-table__cell--non-numeric"></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fixed-add-button"
                        id="grade-modal-open" type="button">
                    <i class="material-icons">add</i>
                </button>


            </div> <!-- GRADE SECTION END -->

            <!-- EXERCISE SECTION -->
            <div id="exercises">
                <div class="mdl-grid demo-content">
                    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                        <ul class="demo-list-item mdl-list" id="exercise-list">

                            {% for hw in homeworks %}
                                <li class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                        <i class="material-icons mdl-list__item-icon edit-exercise">create</i>
                                        <span class="ex-name-span">{{ hw.name }}</span>
                                    </span>
                                </li>
                            {% endfor %}

                            <li class="mdl-list__item add-new-exercise-link" id="add-new-exercise-link">
                            <span class="mdl-list__item-primary-content">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable"
                                     id="new-ex-container">
                                    <label class="mdl-button mdl-js-button mdl-button--icon" for="new-ex-name">
                                        <i class="material-icons">add</i>
                                    </label>
                                    <div class="mdl-textfield__expandable-holder">
                                        <input class="mdl-textfield__input" type="text" id="new-ex-name"
                                               pattern="^\w+$">
                                        <label class="mdl-textfield__label" for="new-ex-name">Expandable Input</label>
                                        <span class="mdl-textfield__error">Vigane sisend!</span>
                                    </div>
                                </div>
                            </span>
                            </li>
                        </ul>
                    </div>
                    <div class="hidden">
                        <div id="hidden-text-field">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="edit-exercise-field"
                                       pattern="^\w+$">
                                <label class="mdl-textfield__label" for="edit-exercise-field"></label>
                                <span class="mdl-textfield__error">Vigane sisend!</span>
                            </div>
                            <button class="mdl-button mdl-js-button mdl-button--primary" id="save-edit">Salvesta
                            </button>
                            <button class="mdl-button mdl-js-button mdl-button--accent" id="cancel-edit">
                                Katkesta
                            </button>
                            <button class="mdl-button mdl-js-button mdl-button--accent" id="delete-edit">Kustuta
                            </button>
                        </div>
                    </div>
                </div>
            </div> <!-- EXERCISE SECTION END -->

            <!-- STUDENT SECTION -->
            <div id="students">
                <div class="mdl-grid demo-content">
                    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

                        <!-- STUDENT ADD MODAL -->
                        <div class="custom-modal" id="custom-modal--add">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <form id="add-student-form" action="#">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="add-firstname"
                                               name="firstname" pattern="^[^\W\d_]+$">
                                        <label class="mdl-textfield__label" for="add-firstname">Eesnimi</label>
                                        <span class="mdl-textfield__error">Lubatud ainult tähed</span>
                                    </div>

                                    <br/>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="add-lastname"
                                               name="lastname" pattern="[a-zA-Z]+">
                                        <label class="mdl-textfield__label" for="add-lastname">Perenimi</label>
                                        <span class="mdl-textfield__error">Lubatud ainult tähed</span>
                                    </div>

                                    <br/>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="add-matricule"
                                               name="matricule" pattern="[0-9]+">
                                        <label class="mdl-textfield__label"
                                               for="add-matricule">Matrikkel</label>
                                        <span class="mdl-textfield__error">Lubatud ainult numbrid</span>
                                    </div>

                                    <br/>

                                    <br/>

                                    <div class="mdl-dialog__actions">
                                        <button type="submit" class="mdl-button modal-submit-button">Lisa
                                        </button>
                                        <button type="button" class="mdl-button btn-cancel custom-modal-close">
                                            Katkesta
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div> <!-- STUDENT ADD MODAL END -->

                        <!-- STUDENT EDIT MODAL -->
                        <div class="custom-modal" id="custom-modal--edit">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <form id="edit-student-form" action="#">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="edit-firstname"
                                               name="firstname" pattern="^[^\W\d_]+$">
                                        <label class="mdl-textfield__label" for="edit-firstname">Eesnimi</label>
                                        <span class="mdl-textfield__error">Lubatud ainult tähed</span>
                                    </div>

                                    <br/>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="edit-lastname"
                                               name="lastname" pattern="^[^\W\d_]+$">
                                        <label class="mdl-textfield__label" for="edit-lastname">Perenimi</label>
                                        <span class="mdl-textfield__error">Lubatud ainult tähed</span>
                                    </div>

                                    <br/>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="edit-matricule"
                                               name="matricule" pattern="[0-9]+">
                                        <label class="mdl-textfield__label"
                                               for="edit-matricule">Matrikkel</label>
                                        <span class="mdl-textfield__error">Lubatud ainult numbrid</span>
                                    </div>

                                    <br/>

                                    <br/>

                                    <div class="mdl-dialog__actions">
                                        <button type="submit" class="mdl-button">Lisa</button>
                                        <button type="button" class="mdl-button btn-cancel custom-modal-close">
                                            Katkesta
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div> <!-- STUDENT EDIT MODAL END -->


                        <div class="input-group element-with-margin">
                            <input type="text" class="form-control" placeholder="Otsi" id="search-input">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-search" type="button"><i class="material-icons">search</i>
                    </button>
                </span>
                        </div><!-- /input-group -->

                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp fullwidth">
                            <thead id="students-table-head">
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Eesnimi</th>
                                <th class="mdl-data-table__cell--non-numeric">Perenimi</th>
                                <th class="mdl-data-table__cell--non-numeric">Matrikkel</th>
                                <th class="mdl-data-table__cell--non-numeric">Kustuta</th>
                            </tr>
                            </thead>
                            <tbody id="students-table-body">
                            {% for student in students %}
                                <tr id="row' + student.matricule + '">
                                    <td id="table-firstname-col"
                                        class="mdl-data-table__cell--non-numeric fullwidth">{{ student.first_name }}</td>
                                    <td id="table-lastname-col"
                                        class="mdl-data-table__cell--non-numeric fullwidth">{{ student.last_name }}</td>
                                    <td id="table-matricule-col"
                                        class="mdl-data-table__cell--non-numeric fullwidth">{{ student.matricule }}</td>
                                    <td class="mdl-data-table__cell--non-numeric fullwidth delete-column">
                                        <span class="glyphicon glyphicon-trash delete-student"
                                              data-del="' + student.matricule  + '"></span></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Colored FAB button with ripple -->
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fixed-add-button"
                        id="add-modal-open" type="button">
                    <i class="material-icons">add</i>
                </button>

            </div> <!-- STUDENT END -->
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/teacher/global_variables.js' %}"></script>
    <script src="{% static 'js/teacher/mock_students.js' %}"></script>
    <script src="{% static 'js/teacher/students.js' %}"></script>
    <script src="{% static 'js/teacher/grades.js' %}"></script>
    <script src="{% static 'js/teacher/exercises.js' %}"></script>
    <script src="{% static 'js/teacher/main.js' %}"></script>
{% endblock %}
